{% extends "tasks/index.html" %}
{% load staticfiles %}
{% block menu %}
    <div id="menu">
				<ul>
					<li class="current_page_item"><a href="{% url 'index' %}" accesskey="1" title="">Strona główna</a></li>
                    {% if user.is_authenticated %}
					    <li><a href="{% url 'generate' %}" accesskey="2" title="">Generuj fraktal</a></li>
					    <li><a href="{% url 'fractals' %}" accesskey="3" title="">Moje fraktale</a></li>
					    <li><a href="{% url 'animations' %}" accesskey="4" title="">Moje animacje</a></li>
					    <li><a href="{% url 'auth_logout' %}" accesskey="5" title="">Wyloguj</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}" accesskey="2" title="">Zaloguj</a></li>
                    {% endif %}
				</ul>
			</div>
{% endblock %}

{% block content %}
    <h1>Moje Fraktale</h1>
    <br /><br />
    {% if videos.count > 0 %}
        {% for video in videos %}
            <video width="320" height="240" controls>
                <source src="{{ video.file_path }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
           {{ num|add:forloop.counter }}. {{ video.id }} {{ video.created_time }} {{ task.cos }}
        {% endfor %}
    {% else %}
        Nie znaleziono żadnych fraktali wygenerowanych przez Ciebie.
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static "js/get_tasks_progress.js" %}"></script>
{% endblock %}

{% block main %}
    <h1>Strona Główna</h1>
    Zaloguj się aby rozpocząć korzystanie z serwisu. Jeżeli nie masz jeszcze konta <a href="{% url 'registration_register' %}">zarejestruj się!</a>
{% endblock %}
